# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/

# Logs
app/logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.tar
*.bak

# VS Code settings
.vscode/
